.firstsection {
  height: 700px;
}
.left-btn,
.right-btn {
  cursor: pointer;
  user-select: none;
}
.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: 0; /* Set margin-top to 0 to remove it */
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}
@media screen and (max-width: 580px) {
  .cards {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 500px) {
  .image-text {
    font-size: 20px;
  }
}
@media screen and (max-width: 340px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
/* .heart {
  background-color: white;
} */
/* far::before {
  background-color: white;
} */
.border {
  border: 1px solid red;
}

.border-1 {
  border-width: 1px;
}

.red {
  color: red;
}
